<div class="panel">
  <h3>Cotizacion</h3>
  <div class="panel_contents">
    <div class="attributes_table">
      <table border="0" cellspacing="0" cellpadding="0">
        <tbody>
          <tr>
            <td>
              Cliente
            </td>
            <td>
              <%= estimate.letter_html %>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
