body#sessions #wrapper {
  display: table;
  width: 100%; }
body#sessions #content_wrapper {
  width: 500px;
  margin: 70px auto; }
body#sessions #content_box {
  background: white;
  padding: 13px 30px; }
body#sessions form ul {
  list-style-type: none;
  padding-left: 0; }
body#sessions form ul > li {
  padding: 10px 0; }
body#sessions form label {
  display: block;
  width: 20%;
  float: left;
  font-size: 1.0em;
  font-weight: bold;
  color: #5E6469; }
body#sessions form input[type=email], body#sessions form input[type=text], body#sessions form input[type=password] {
  width: 70%; }
